.cadastro{
    /* 
    background-image: url(../../assets/bg-admin.png);

 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    background-color: #1b1230;
    background-image: linear-gradient(0deg, #3e0b6b 20%, #56178d 80%);
    padding: 3rem 0 3rem 0;
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro p.error{
    padding-top: 0;
    display: flex;
    flex-direction: column;
    color: #ff0000;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
}

.cadastro p.link-cadastro{
    text-align: center;
    color: #fff;
    margin-top: 1rem;
}

.cadastro .logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    margin-left: 2rem;
}

.cadastro .card-purple{
    background-color: #3c0669;
    box-shadow: 0px 20px 50px -11px #5a327c;
    height: 90%;
    border-radius: 10px;
    padding: 3rem;
}

.cadastro .card-purple .ct-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro .card-purple h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color:  #866CC9;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}

 
.cadastro .card-purple form .ct-input .input{
    /* margin-bottom: 1rem; */
    width: 50%;
}

.cadastro .card-purple form .ct-input div{
    margin-bottom: 1rem; 
}


.cadastro  .passinfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

.cadastro  .passinfo div{
    width: 100%;
}



.cadastro .card-purple form .ct-input label{
    font-size: 1rem;
    color:  #866CC9;
    text-transform: uppercase;
    font-weight: 700;
}


.cadastro .card-purple form .ct-input .userinfo{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 0;
}


.cadastro .card-purple .ct-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cadastro .card-purple .ct-img img{
    width: 90px;
    height: 90px;

}

/* O INPUT DE FILE */
  
.cadastro input[type='file'].img{
    display: none;
}

.cadastro label.foto{
    padding: 20px 10px;
    width: 100%;
    background-color: #1B1230;
    border-radius: 10px;
    color: #B89BFF;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}


/* #erro_txt
    color:#fa0000;
} */

@media (max-width: 1074px) {
    .cadastro{
        padding: 2rem;
    }
    .cadastro .card-purple{
         min-width: 60%; 
    }
}

@media (max-width: 1110px) {
    .cadastro{
        padding: 2rem;
    }
    .cadastro .card-purple{
         min-width: 90%; 
    }

    .ct-input div{
        flex-direction: column;
    }

    .cadastro .ct-input .passinfo{
        display: flex;
        flex-direction: column;
    }

    .cadastro .input-mask{
        width: 100%;
    }
}


@media (max-width: 470px) {
    .cadastro{
        width: 100%;
        padding: 1rem 0rem;
    }
    .cadastro .card-purple{
         max-width: 100%; 
         width: 100%;
         padding: 2rem 1rem;
    }
    .editar-cad .card-purple form .ct-input div{
        margin-bottom: 3rem; 
    }
    
}


