.camp-descr {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: #fff;
    background-color: #866CC9;
    border-radius: 10px;
    padding: 3rem;
    width: 100%;
    height: 100%;
    gap: 4rem;
}

.camp-descr .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;

}

.camp-descr .descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;

}


.camp-descr .logo img {
    width: 100px;
}


.camp-descr .logo h1 {
    font-weight: 700;
    font-size: 2rem;


}

.camp-descr h3 {
    color: #fff;
    text-align: center;
    font-weight: 500;
}

.camp-descr h3 span.tit-descricao {
    font-weight: 700;
    font-size: .9rem;
    color: #1B1230;
    text-transform: uppercase;
}

.camp-descr h3 span.descri-destaque {
    font-weight: 700;
    font-size: .9rem;
    color: #4c00ff;
    text-transform: none;
}

@media (max-width:450px) {
    .camp-descr .logo{
        flex-direction: column;
        word-wrap: break-word;

    }
    .camp-descr .logo h1 {
        font-weight: 700;
        text-align: center;

    }
}