.home {
   background-image: url('../../assets/bg_escuro_emba.png');
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   width: 100%;
   height: 100vh;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: #fff;
   gap: 2rem;
}

.home h1 {
   text-align: center;
   /* Impede quebras de linha no meio das palavras */ 
   
   text-transform: uppercase;
   margin: 0;
   font-size: clamp(54px, 64px, 74px);
   font-size: 64px;
   font-weight: 700;
   color: #ffffff;
   text-shadow: 2px 2px 0 #5100ff, 3px 3px 0 #5100ff, 4px 4px 0 #5100ff; 
}
/* 866CC9 */
.home p {
   font-weight: 600;
   font-size: 20px;
   margin: 0;
   max-width: 600px;
   text-wrap: wrap;
   text-align: center;
}
.home br{
   display: none;
}

@media (max-width: 625px) {
   .home br{
     display: block;
   }
   
}

@media (max-width: 370px) {
      .home h1{
        font-size: 40px;
      }
      
      .home p{
         font-size: 17px;
       }
}