.content{
    padding: 2rem 2rem;
    width: 100%;
    min-height: 100vh;
}

@media (max-width: 925px) {
    .content{
        padding-top: 5rem;
    }
}

@media (max-width: 365px) {
    .content{
        padding: 5rem .8rem;
    }
}