.qrcode{
    width: 100%;
    height: 100%;
    background-color: #1B1230;
    padding: 4rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;

}
.qrcode h3, h2{
   text-transform: uppercase;
   font-weight: 600;
   color: #866CC9;
}

.qrcode h3{ 
    color: #866CC9;
    
}

.qrcode h2 span{ 
    color: #66CD35;
}