.card-img {
    position: relative;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem;
    z-index: 1;
    position: relative;
    object-fit: cover;
    object-position: center;
    box-shadow: 0px 0px 70px -41px rgba(194,173,241,1);}

.card-img h3 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 0 #5100ff, 2px 2px 0 #5100ff, 3px 3px 0 #5100ff; 
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    /* background: #580AFF; */
backdrop-filter: blur(8px);
    margin-bottom: 1rem;
    border-radius: 15px;
    padding: 1rem;
    
    /* background: linear-gradient(90deg, #580AFF 10%, rgba(255,255,255,0) 100%); */
}

.card-img .things{
    margin-top: 12rem;    

}

.card-img .logo img{
    width: 50px;
    position: absolute;
    top: -6px;
    left: -6px;
    border-radius: 50%;
    
    background-color: #1b1230;
    background-image: linear-gradient(0deg, #2a135e 20%, #4f1483 80%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img .things.purpleBar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #701CC4;
    border-radius: 0 0 8px 8px ;
}


.card-purple{
    background-color: #252848;
}

.card-darkpurple{
    background-color: #1B1230;
    border-radius: 10px;
}

.card-lightpurple{
    background-color: #673ad8dd;
    border-radius: 10px;
}

.card-purple .things{
    width: 100%;
    height: 100%;
}

@media (max-width:400px) {
    .things{
        padding: .5rem;
    }
}

/* 
    card classificação
    fases

    oitavas
    quartas
    semis
    final

    estado

    elimininado
    ocorreu

*/
