.card{
    position: relative;
    background-color: #1B1230;
    border-radius: 5px;
    height: 80vh;
    padding: 2.5rem;
}

.card h1{
    color: #866CC9;
    font-size: 40px;
    font-weight: 700;
}

.card .main__infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .main__infos img{
    width: 150px;
}

.card .main__infos .main__subtitle{
    margin-top: 5px;
    color: #866CC9;
    font-size: 20px;
    font-weight: 700;
}

.card .main__infos .main__link{
    text-decoration: underline;
    color: #9D77FC;
    font-weight: 700;
    margin-top: 10px;
}

.card .omega{
    position: absolute;
    right: 0;
    bottom: -22.5px;
    width: 200px;
}

.card .main__desc{
    position: absolute;
    bottom: 1.5rem;
    color: #9D77FC;
    font-size: 15px;
    font-weight: 500;

}


@media (max-width: 800px) {
    .card .main__infos img{
        width: 100px;
        margin-bottom: 15px;
    }

    .card .main__infos .main__subtitle{
        color: #866CC9;
        font-size: 12px;
        font-weight: 700;
        margin: 1rem 0;
    }
    
    .card h1{
        color: #866CC9;
        font-size: 18px;
        font-weight: 700;
    }
    
    .card .omega{
        display: none;
    }

    .card .main__desc{
        font-size: 10px;
    
    }
}