/* .times{
    width: 100%;
} */

.times h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .times .sidebar{
    padding-left: 190px;

} */


.times .children{
    padding-left: 190px;
    color: #fff;
}




@media (max-width: 925px) {
    .times .children{
        padding-left: 0;
    }
}
